*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	width: 100%;
    min-height: 100vh;
	font-size: 16px;
	line-height: 2rem;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    background: #ffffff;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{font-size: 1rem; text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-weight: 400;}
body{
    display: flex;
    flex-direction: column;
}
.icon{
    width: 1em;
    position: relative;
    top: .5em;
}
.icon-search{
    top: .25em;
    right: .35em;
}

.header{
    background-color: #424242;
    padding: 10px 0 5px 0;
    &__body{
        display: flex;
        justify-content: flex-end;
    }
    &__menu{
        width: 320px;
        margin: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &-item{
        }
        &-link{
            font-family: "SegoeWP";
            color: rgb(255, 255, 255);
            line-height: 1.625;
            text-align: center;
            z-index: 130;
            &:hover{
                color:rgb(194, 194, 194)
            }
        }
    }
}
nav{width: 100%;}
.navbar-expand-lg .navbar-collapse{
    justify-content: space-around;
}
.form{
    &-inline{
    border-radius: .4rem;
    border: 5px solid #85c469;
    }
    &-control{
        border-radius: 0;
        border-color: #85c469;
    }
}
.btn{
    border: 0;
    border-radius: 0;
}
.wish{
    width: auto;
    text-align: center;
}
.navbar{
    background: linear-gradient(#fff, #ebebeb);
    & .container{
        width: 100%;
    }
    .cart{    
        max-width: 200px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        &__title{
            flex: 100% 0 0;
            text-align: center;
        }
    }
}

.menu{
    border: 1px solid #dedede;
    border-right: 0;
    border-left: 0;
    &__list{
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item{
        flex: 11.11% 0 0;
        padding: 10px 0px;
        text-align: center;
        cursor: pointer;
        transition: all .8s ease;
        &:hover{
            background-color: #8fd271;
        }
    }
    &__link{
        display: block;
        width: 100%;
        height: 100%;
        font-size: 19px;
        font-family: "Segoe UI Symbol";
        color: rgb(91, 91, 91);
        line-height: 1.368;
        text-align: center;
        z-index: 146;
        &:hover{
            color: #ffffff;
        }
    }
}

.main{
    flex: 1;
    margin: 10px 0;
    &__menu{

    }
}
.side{
    &bar{
        max-height: 925px;
        padding: 0;
        border: 1px solid #d6d6d6;
    }
    &__title{
        font-size: 24.333px;
        font-family: "SegoeWP";
        color: rgb(107, 105, 105);
        line-height: 1.233;
        padding: 10px 17px;
        margin: 0;
    }
    &__list{
    }
    &__item{
        padding: 0 20px;

    }
    &__link{
        display: block;
        width: 100%;
        height: 100%;
        font-size: 17px;
        font-family: "SegoeWPN";
        color: rgb(85, 84, 84);
        line-height: 1.739;
        transition: all .8 ease;
        &:hover{
            color: #000;
        }
    }
}
.submenu{
    &__item{

        border-bottom: 1px solid #d6d6d6 ;
    }
    &__link{
        position: relative;
        left: -20px;
        padding: 0 25px;
        display: block;
        width: calc(100% + 40px);
        height: 100%;
        font-size: 15.333px;
        font-family: "Segoe UI Symbol";
        color: rgb(85, 84, 84);
        line-height: 1.739;
        transition: all 1s ease;
        &::after{
            content: " ";
            width: 100%;
            height: 1px;
            margin: 0 25px;
            background-color:  #d6d6d6;
        }
        &:hover{
            color: #fff;
            background-color: #85c469;
        }
    }
}
.active-link{
    color: #fff;
    background-color: #85c469;
}

.categories{
    margin: 0 -8px 0 8px;
    border: 1px solid #dedede;
    &__title{
        margin: 20px 25px;
        font-size: 24.333px;
        font-family: "SegoeWP";
        color: rgb(70, 70, 70);
        line-height: 1.233;
    }
    &__body{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    &__block{
        flex: 15% 0 0;
    }
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12.5px 10px;
    &__image{
        position: relative;
    }
    &__img{
        width: 126px;
        border-radius: 2px;
        box-shadow: 0 0 1px 1px #dadada;
    }
    &__name{
        font-size: 15px;
        font-family: "SegoeWPN";
        color: rgb(89, 89, 89);
        line-height: 1.067;
        text-align: center;
        padding: 15px 0 0 0;
    }
    &__price{
        font-size: 21.667px;
        font-family: "HelveticaLTStd";
        color: rgb(240, 83, 86);
        line-height: 0.923;
        text-align: center;
    }
}

.pages{
    display: flex;
    justify-content: flex-end;
    &__list{
        width: 170px;
        padding-right: 20px;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__item{
        flex: 15% 0 0;
        .active-page{
            border: 1px solid #dedede;
            border-bottom: 3px solid #81bd66;
        }
    }
    &__link{
        display: block;
        width: 100%;
        height: 100%;
        font-size: 15.67px;
        font-family: "HelveticaLTStd";
        color: rgb(100, 100, 100);
        line-height: 1.914;
        text-align: center;
        &:hover{
            border: 1px solid #dedede;
            border-bottom: 3px solid #81bd66;
        }
    }
}

.footer{
    background-color: #45443f;
    margin: 15px 0 0 0;
    &__body{
        .row{
            justify-content: space-between;
        }
    }
    &bar{
        padding: 25px 10px 25px 0;
        margin: 0 -10px 0 0;
        &__title{
            font-size: 19.667px;
            font-family: "SegoeWP";
            color: rgb(221, 221, 221);
            line-height: 1.017;
        }
        &__item{

        }
        &__link{
            display: block;
            font-size: 13.667px;
            font-family: "SegoeWP";
            color: rgba(221, 221, 221, 0.702);
            line-height: 1.756;
            display: flex;
            flex-direction: column;
            &::after{
                content: "";
                width: 60%;
                height: 1px;
                background-color: #515258;
            }
            &:hover{
                color: #fff;
            }
        }
    }
    &__card{
        background-color: #302f30;
        text-align: center;
        padding: 30px 0 10px 0;
        p{
            font-size: 19.667px;
            font-family: "SegoeWP";
            color: rgb(221, 221, 221);
            line-height: 1.22;
        }
    }
    &__copy{
        background-color: #302f30;
        font-size: 15.667px;
        font-family: "SegoeWP";
        color: rgb(221, 221, 221);
        line-height: 1.532;
        text-align: center;
        padding: 20px 0 30px 0;
        border-top: 1px solid #515351;
        border-bottom: 3px solid #47433f;
    }
}

.stock{
    color: #424242;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: -10%;
    right: -10%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.display-none{
    display: none;
}

@media (max-width: 991px) {
    .form-inline{
        width: 60%;
    }
    .cart{
        max-width: none;
    }
    .navbar-body{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .menu{
        display: none;
    }
    .side__title{
        padding: 10px;
    }
}

@media (max-width: 767px) {
    .navbar-brand img{
        width: auto;
    }
    .form{
        &-inline{
            width: 100%;
        }
        &-control{
            flex: 1;
        }
    }
    .navbar .cart{
        width: 100%;
        max-width: none;
    }
    .wish{
        width: 100%;
    }
    .navbar-body{
        flex-direction: column;
        align-items: flex-start;
    }
    .sidebar{
        // display: none;
        border-bottom: 0;
    }
    .side__item{
        &::after{
            content: ">";
        }
    }
    .categories{
        margin: 0;
        border-top: 0;
    }
    .submenu{
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        &__item{
            width: 25%;
            margin: 0 10px;

        }
        &__link{
            position: static;
            width: auto;
            padding: 0 10px;
        }
    }
}

@media (max-width: 575px) {
    .navbar-brand img{
        width: 80%;
    }
    .wish{
        padding: 5px;
    }
    .main{
        border-bottom: 1px solid #dedede;
    }
    .categories{
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom: none;
    }
    .sidebar{
        display: none;
    }
    .navbar-body{
        flex-direction: column;
        align-items: flex-start;
    }
    .footer{
        padding: 5px;
        &bar{
            display: none;
        }
    }
    .product__img {
        width: 120px;
    }
}